[submodule "figma-client"]
	path = figma-client
	url = https://github.com/FigmaAI/klever-v3.git
[submodule "appagent"]
	path = appagent
	url = https://github.com/FigmaAI/appagent.git
	branch = claude/klever-desktop-setup-011CUuq1WsLc6Anz85kupFMp
