<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>klever-desktop.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 매일 또는 10MB 크기가 될 때 롤링 -->
            <fileNamePattern>klever-desktop.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 각 파일의 최대 크기 -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 최대 보관 기간 (30일) -->
            <maxHistory>30</maxHistory>
            <!-- 전체 로그 파일들의 최대 총 크기 -->
            <totalSizeCap>300MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration> 